<launch>
  <node pkg="mrasl_guidance" type="guidance" name="guidance" output="screen">
    <rosparam command="load" file="$(find mrasl_guidance)/launch/config.yaml" />
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster"
    args="0 0 1.15 3.14159 3.14159 1.5708 world cam1_left 100" />

</launch>
